@{
    Layout = "_FinanceLayout";
}
<link rel="stylesheet" href="~/layui/layui/css/modules/laydate/default/laydate.css" media="all">
<script type="text/javascript" src="~/layui/layui/lay/modules/laydate.js"></script>
<style>
    #section, input {
        border: 1px solid #ccc;
        padding: 5px 0px;
        padding-top: 2px;
        border-radius: 3px;
        padding-left: 5px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
    }

        #section, input:focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
        }

    .layui-layout-admin .layui-body {
        position: fixed;
        top: 50px;
        bottom: 44px;
    }
</style>

<h2 style="font-size:16px;display: inline-block;padding: 5px">请选择部门</h2>
<select style="border: 2px solid #ccc;width: 80px;height:32px;margin-top:7px" id="section">
    <option value="cwc2016002">财务部</option>
    <option value="js20160004">教师</option>
    <option value="xz20160003">校长</option>
    <option value="zjc2016001">政教处</option>
</select>

<h2 style="font-size:16px;display: inline-block;padding: 5px">请选择日期</h2>
@* 月选择 *@
<div style="display:inline-block" id="wagetime">
    <ul id="layui-laydate3" class="laydate-month-list">
        <li>
            <input style="border: 2px solid #ccc;width:100px" type="text" id="picker3" />
        </li>
    </ul>
</div>
<div class="layui-btn-container" style="display:inline-block">
    <button type="button" class="layui-btn layui-btn-sm" id="view">查看</button>
</div>
<table id="demo" lay-filter="test"></table>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit" id="edit2">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


@section Scripts{
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script>
        $(function () {
            var datee;
            layui.use(['layer', 'laydate'], function () {
                var laydate = layui.laydate;
                //时间选择器(年)
                laydate.render({
                    elem: '#picker3',
                    theme: 'molv',
                    type: 'month',
                    btns: ['now'],
                    // max: getNowFormatDate(), //getNowFormatDate is not defined
                    ready: function (date) {
                        $("#layui-laydate3").off('click').on('click', '.laydate-month-list li', function () {
                            $("#layui-laydate3").remove();
                        });
                    },
                    change: function (value, dates, edate) {
                        var year = $('#picker3').val(value);
                        datee = value;
                    }
                });
            })

            $("#view").on("click", function () {
                var section = $("#section option:selected").val(); //获取部门
                var wagetime = datee;   //获取日期
                layui.use('table', function () {
                    var table = layui.table;
                    $.ajax({
                        url: '/Api/QueryDepartmentWage',
                        data: {
                            'departmentid': section,
                            'time': wagetime
                        },
                        success: function (data) {  //当请求成功时运行的函数；变量：接受服务器响应结果的值
                            table.render({
                                elem: '#demo'
                                , toolbar: true
                                , page: true //开启分页
                                , defaultToolbar: ['filter']
                                , title: 'wage Table'
                                , cols: [[ //表头
                                    { field: 'name', title: '姓名', sort: true, fixed: 'left' }
                                    , { field: 'teacherid', title: '工号', sort: true, fixed: 'left' }
                                    , { field: 'wagetime', title: '日期', sort: true, fixed: 'left' }
                                    , { field: 'basicwage', title: '基本工资' }
                                    , { field: 'overtimewage', title: '加班工资', sort: true }
                                    , { field: 'welfare', title: '福利补贴' }
                                    , { field: 'bonus', title: '奖金' }
                                    , { field: 'totalwage', title: '总计', sort: true }
                                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo'}

                                ]]
                                , data: data.wageList
                                , even: true
                            });
                        },
                    })


                     // 工具栏监听
                        table.on('tool(test)', function(obj){
                             var data = obj.data;
                               if(obj.event === 'del'){
                                   layer.confirm('真的删除行么', function (index) {
                                       $.ajax({
                                           url: "/Api/DeleteTeacherWage",
                                           type: "POST",
                                           data: { id: data.id },
                                            success: function (data) {
                                                if (data.code == 200) {
                                                    //删除这一行
                                                    obj.del();
                                                    //关闭弹框
                                                    layer.close(index);
                                                    layer.msg("删除成功", {icon: 6});
                                                } else {
                                                    layer.msg("删除失败", {icon: 5});
                                                }
                                            }
                                        });
                                    });
                                 } else if (obj.event === 'edit') {
                                    layer.open({
                                    type:2,
                                    area: ['500px', '700px'],
                                        resize: false,
                                        content: '/Finance/EditWage?teacherid=' +data.teacherid +'&time=' + data.wagetime,

                                  })
                               }
                        });

                });
            })
        });

    </script>
}

