<a asp-controller="Test" asp-action="PlanTable">Test Table</a>
<br>
<a asp-controller="Test" asp-action="MaterialTable">MaterialTable</a>
<br>
<button type="button" onclick="select1()">工资明细</button><br>
<button type="button" onclick="select2()">编辑工资</button><br>
<button type="button" onclick="select3()">处理工作计划</button>

<script src="~/layui/layui/layui.js"></script>
<script>

    
    function select1() {
        layui.use('layer', function(){
        var layer = layui.layer;
        layer.open({
            type: 2,
            title: false,
            closeBtn: 1, //显示关闭按钮
            shade: [0],
            area: ['500px', '450px'],
            offset: 'auto',
            anim: 2,
            content: ['/Test/WageDetail?teacherid=T16060201001&time=2019-12-01', 'no'], //iframe的url，no代表不显示滚动条
        });
    }); 
    }

    function select2() {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.open({
                type: 2,
                title: false,
                closeBtn: 1, //显示关闭按钮
                shade: [0],
                area: ['500px', '500px'],
                offset: 'auto',
                anim: 2,
                content: ['/Test/EditWage?teacherid=T13030201034&time=2019-01-01', 'no'], //iframe的url，no代表不显示滚动条
            });
        });
    }
        function select3() {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.open({
                type: 2,
                title: false,
                closeBtn: 1, //显示关闭按钮
                shade: [0],
                area: ['500px', '500px'],
                offset: 'auto',
                anim: 2,
                content: ['/Test/PlanDetail?id=2', 'no'], //iframe的url，no代表不显示滚动条
            });
        });
    }
</script>